* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.header {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: flex-start;
    /* flex-direction: column; */
}

.image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-image {
    flex-basis: 100px;
    padding: 5px;
}

.div-name-desc {
    flex-basis: 800px;
    color: white;
}

.nav-nav {
    display: flex;
    gap: 40px;
}



a:link {
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10%;
}

a:hover {
    background-color: white;
    color: black;
}

a:visited {
    border: 1px solid white;
    color: rgb(196, 196, 196);
    text-decoration: none;
    padding: 5px;
    border-radius: 10%;
}

a:active {
    color: lightgrey;
}

/* .aside-bar {
    width: 20%;
    height: 400px;
    display: flex;
    background-color: #ADD8E6;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}

.div-bio {
    font-family: sans-serif;
}

.div-bio {
    padding: 10px;
    flex-basis: 40px;
}

.li {
    padding: 10px;
    /* width: 300px;
}

.button {
    display: block;
    width: 200px;
} */

.aside-bar {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    /* gap: 30px; */
    background-color: black;
    border-bottom: 1px solid white;

}

.navigation {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */

}

.skills {
    color: white;
    padding: 10px;
    border: 1px solid white;
}

.unordered-list {
    margin-left: 40px;
}

.div-bio {
    padding: 10px;
    border: 1px solid white;
    color: white;
}

.button:link {
    border-radius: 0%;
}

.div-download {
    display: flex;
}

.download {
    width: 300px;
    border: 1px solid black;
}

.download:link {
    border-radius: 0%;
}

.footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 67px;
    gap: 50px;
}

.footer a:first-child,
.footer a:nth-child(2),
.footer a:nth-child(3),
.footer a:last-child {
    color: white;
    border: none;
}

footer p {
    color: white;
}

.footer-div {
    display: flex;
}

.div-download a:first-child {
    color: white;
}

.div-download a:hover {
    background-color: white;
    color: black;
}

.div-download a:first-child:hover {
    color: white;
    background-color: black;
}

.navigation a:first-child,
.navigation a:nth-child(2),
.navigation a:last-child {
    color: white;
    border: 1px solid white;
}

.navigation a:first-child:hover,
.navigation a:nth-child(2):hover,
.navigation a:last-child:hover {
    color: black;

    background-color: white;

}